<div class="card-header">
    <h2 class="header-title">{{ headerEdit }}</h2>
    <p class="header-description">
        {{ headerDescriptionEdit }}
    </p>
</div>
<div [ngClass]="{ 'disabled-container': loading }">
    <mat-card>
        <mat-card-content class="form-card">
            <div *ngIf="loading" class="loading">
                <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
            </div>
            <div class="form-details">
                <mat-form-field *ngIf="editMode" class="full-width">
                    <mat-label>Id</mat-label>
                    <input matInput [(ngModel)]="tier.id" disabled />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput required [(ngModel)]="tier.name" [disabled]="isNameInputDisabled()" />
                    <mat-error>You must enter a value</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion *ngIf="editMode" class="tier-accordion" [multi]="true">
        <mat-expansion-panel class="expansion-panel" [expanded]="true">
            <mat-expansion-panel-header class="expansion-panel-header">
                <mat-panel-title class="panel-header-title">
                    {{ headerQuotas }}
                </mat-panel-title>
                <mat-panel-description class="panel-header-desc">
                    {{ headerQuotasDescription }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="action-buttons">
                <button mat-mini-fab color="warn" (click)="openConfirmationDialogQuotaDeletion()" [disabled]="isQuotaDeletionDisabled()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary" (click)="openAssignQuotaDialog()" [disabled]="isQuotaAssignmentDisabled()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <table mat-table class="responsive" [dataSource]="tier.quotas">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            (change)="$event ? toggleAllRowsQuotas() : null"
                            [checked]="selectionQuotas.hasValue() && isAllSelected()"
                            [disabled]="tier.isReadOnly"
                            color="primary"
                            [indeterminate]="selectionQuotas.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabelQuotas()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selectionQuotas.toggle(row) : null"
                            [disabled]="tier.isReadOnly"
                            [checked]="selectionQuotas.isSelected(row)"
                            color="primary"
                            [aria-label]="checkboxLabelQuotas(i, row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="metricName">
                    <th mat-header-cell *matHeaderCellDef>Metric</th>
                    <td mat-cell *matCellDef="let Quota" data-label="Metric:">
                        {{ Quota.metric.displayName }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="max">
                    <th mat-header-cell *matHeaderCellDef>Max</th>
                    <td mat-cell *matCellDef="let Quota" data-label="Max:">
                        {{ Quota.max }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef>Period</th>
                    <td mat-cell *matCellDef="let Quota" data-label="Period:">
                        {{ Quota.period }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="quotasTableDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: quotasTableDisplayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell no-data" [attr.colspan]="quotasTableDisplayedColumns.length">No quotas found.</td>
                </tr>
            </table>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-panel" [expanded]="true">
            <mat-expansion-panel-header class="expansion-panel-header">
                <mat-panel-title class="panel-header-title"> Identities </mat-panel-title>
                <mat-panel-description class="panel-header-desc"> View Identities associated with this Tier </mat-panel-description>
            </mat-expansion-panel-header>
            <app-identities-overview *ngIf="tierId !== undefined" [tierId]="tierId"></app-identities-overview>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="action-buttons">
        <button *ngIf="editMode" mat-button color="warn" (click)="openConfirmationDialogTierDeletion()" [disabled]="!tier.isDeletable">Delete</button>
        <button mat-raised-button routerLink="/tiers">Cancel</button>
    </div>
</div>
