.container {
    min-width: 2400px;
    min-height: 200px;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -40px;
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.no-data {
    padding: 25px;
}

.mat-column-recipients {
    width: 60%;
}

.mat-column-senderAddress,
.mat-column-senderDevice,
.mat-column-sendDate {
    width: 30%;
}

.mat-column-numberOfAttachments {
    width: 10%;
}

.identity-navigation {
    text-decoration: underline;
    color: blue;
}

.identity-navigation:hover {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .mat-mdc-table .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-table .mat-mdc-row {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        border-bottom: 1px solid #ddd;
    }

    .mat-mdc-table .mat-mdc-cell {
        width: 100%;
        border-bottom: 0px solid #ddd;
        font-size: 1em;
        min-height: 30px;
        margin-bottom: 4%;
        word-break: break-all;
        white-space: pre-wrap;
    }

    .mat-mdc-table .mat-mdc-cell:before {
        content: attr(data-label);
        float: left;
        font-weight: 500;
    }

    .mat-mdc-table .mat-mdc-cell:first-child {
        margin-top: 25px;
    }

    .mat-mdc-table .mat-mdc-row:last-child {
        border-bottom: 0px;
    }
}

.auto-height {
    height: auto;
}
