<div class="dashboard-container">
    <mat-grid-list [cols]="breakpoint" rowHeight="350px" gutterSize="10" (window:resize)="onResize()">
        <mat-grid-tile *ngFor="let dashboardPanel of dashboardOverviewPanels" [routerLink]="dashboardPanel.routerLink" class="dashboard-tile" matTooltip="Go to {{ dashboardPanel.header }}">
            <div class="container">
                <mat-icon *ngIf="!isMobile()" class="panel-icon">{{ dashboardPanel.icon }}</mat-icon>
                <h4 class="panel-title">{{ dashboardPanel.header }}</h4>
                <p class="panel-description">{{ dashboardPanel.description }}</p>
                <button mat-raised-button [routerLink]="dashboardPanel.routerLink" color="primary" class="more-button">More</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
