body {
    background-color: #f4f6fc;
    margin: 0;
    padding: 0 16px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    font-weight: 400;
    color: #1A1B20;
}

.container {
    max-width: 430px;
    margin: 0 auto;
}

.logo-box {
    padding: 1rem;
}

.logo img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.info-box {
    padding: 1rem;
    border-radius: 4px;
    margin-top: 10px;
}

.step-box {
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.step-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    max-width: 70%;
}

.app-store-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    align-self: flex-end;
    max-height: 40px;
}

.app-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0.5rem auto 0;
    border-radius: 20%;
}

.vertical-spacer {
    height: 3rem;
}


