<div class="col-12 md:px-5">
    <div class="p-component">
        <div class="p-3 text-700">
            <div class="text-2xl font-medium">{{ header }}</div>
        </div>
    </div>
    <div class="col-12">
        <p-card>
            <p-table
                #tiersTable
                [value]="tiers"
                [lazy]="true"
                (onLazyLoad)="loadTiers($event)"
                dataKey="id"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} tiers"
                [totalRecords]="totalRecords"
                [loading]="loading"
                responsiveLayout="stack"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-4">Id</th>
                        <th class="col-4">Name</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tier>
                    <tr>
                        <td>
                            <span class="p-column-title font-semibold">
                                Id
                            </span>
                            {{ tier.id }}
                        </td>
                        <td>
                            <span class="p-column-title font-semibold">
                                Name
                            </span>
                            {{ tier.name }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="2">No tiers found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12 text-right mt-3">
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-rounded"
                    (click)="addTier()"
                ></button>
            </div>
        </p-card>
    </div>
</div>
<p-toast
    position="top-center"
    [breakpoints]="{ '920px': { width: '100%', 'word-break': 'break-word' } }"
    [preventOpenDuplicates]="true"
    styleClass="w-6"
></p-toast>
