**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/*.pfx
**/appsettings.override.json
**/appsettings.override.*.json
LICENSE
README.md

# flutter
**/pubspec_overrides.yaml
**/.dart_tool
**/build
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.DS_Store

## config.json for connecting to the admin api
**/config.json
**/config.local.json
global.json
