<div class="card-header">
    <h2 class="header-title">{{ header }}</h2>
    <p class="header-description">{{ headerDescription }}</p>
</div>
<mat-card [ngClass]="{ 'disabled-container': loading }">
    <mat-card-content style="min-height: 400px">
        <div *ngIf="loading" class="loading">
            <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
        </div>
        <div class="action-buttons">
            <button mat-mini-fab color="warn" (click)="openConfirmationDialog()" [disabled]="selection.selected.length === 0" style="margin-right: 10px">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="addClient()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <table mat-table matSort (matSortChange)="onTableSort($event)" class="responsive" [dataSource]="clients" *ngIf="!loading">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        color="primary"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        color="primary"
                        [aria-label]="checkboxLabel(i, row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="clientId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by client ID" style="text-align: center">
                    <div class="header-container">
                        <span>Client Id</span>
                        <mat-form-field style="width: 100%; padding-top: 10px">
                            <input matInput type="text" [(ngModel)]="clientIdFilter" (input)="filterClients()" />
                            <button *ngIf="clientIdFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter('clientId')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let client" data-label="Client Id:">
                    {{ client.clientId }}
                </td>
            </ng-container>
            <ng-container matColumnDef="displayName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef style="text-align: center">
                    <div class="header-container">
                        <span>Display Name</span>
                        <mat-form-field style="width: 100%; padding-top: 10px">
                            <input matInput type="text" [(ngModel)]="displayNameFilter" (input)="filterClients()" />
                            <button *ngIf="displayNameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter('displayName')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let client" data-label="Display Name:">
                    {{ client.displayName }}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let client" data-label="">
                    <button mat-raised-button color="primary" (click)="openChangeSecretDialog(client.clientId)">Change Client Secret</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">No clients found.</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
