.mat-column-clientId,
.mat-column-displayName {
    width: 20%;
    word-break: break-all;
}

.mat-column-defaultTier {
    width: 15%;
    word-break: break-all;
}

.mat-column-numberOfIdentities {
    max-width: 200px;
    word-break: normal;
}

.mat-column-createdAt {
    max-width: 370px;
    word-break: normal;
}

.mat-column-actions {
    max-width: 300px;
    word-break: normal;
}

.actions-button {
    min-height: 36px;
    min-width: 200px;
    height: auto;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.tier-navigation {
    text-decoration: underline;
    color: blue;
}

.inline-action-buttons ::ng-deep .mat-mdc-form-field-icon-suffix {
    display: inherit;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -60px;
    width: 100%;
    height: 100%;
}

.complex-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.no-data {
    padding: 25px;
}

.mat-mdc-row:hover {
    background-color: #ddd !important;
    cursor: pointer;
}

.card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: #17428d;
    position: relative;
    z-index: 1;
    margin: 15px 15px -50px 15px;
}

.header-description {
    color: #fff;
}

.header-title {
    color: #fff;
}

.action-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.progressWrapper {
    display: flex;
    align-items: center;
}

.progressWrapper > span {
    min-width: 2.5rem;
}

@media screen and (max-width: 960px) {
    .card-header {
        margin: 15px 15px -20px 15px;
    }

    .mat-mdc-table .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-table .mat-mdc-row {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        border-bottom: 1px solid #ddd;
    }

    .mat-mdc-table .mat-mdc-cell {
        width: 100%;
        border-bottom: 0px solid #ddd;
        font-size: 1em;
        min-height: 30px;
        margin-bottom: 4%;
        word-break: break-all;
        white-space: pre-wrap;
    }

    .mat-mdc-table .mat-mdc-cell:before {
        content: attr(data-label);
        float: left;
        font-weight: 500;
    }

    .mat-mdc-table .mat-mdc-cell:first-child {
        margin-top: 25px;
    }

    .mat-mdc-table .mat-mdc-row:last-child {
        border-bottom: 0px;
    }
}
