.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: #17428d;
    position: relative;
    z-index: 1;
    margin: 15px 15px -50px 15px;
}

.header-description {
    color: #fff;
}

.header-title {
    color: #fff;
}
