.tier-container {
    max-width: 1150px !important;
    margin: auto;
}

.mat-column-name,
.mat-column-numberOfIdentities {
    width: 50%;
    word-break: break-all;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -60px;
    width: 100%;
    height: 100%;
}

.no-data {
    padding: 25px;
}

.card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: #17428d;
    position: relative;
    z-index: 1;
    margin: 15px 15px -50px 15px;
}

.header-description {
    color: #fff;
}

.header-title {
    color: #fff;
}

.action-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.mat-mdc-row:hover {
    background-color: #ddd !important;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .card-header {
        margin: 15px 15px -20px 15px;
    }

    .mat-mdc-table .mat-mdc-header-row {
        display: none;
    }

    .mat-mdc-table .mat-mdc-row {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        border-bottom: 1px solid #ddd;
    }

    .mat-mdc-table .mat-mdc-cell {
        width: 100%;
        border-bottom: 0px solid #ddd;
        font-size: 1em;
        min-height: 30px;
        margin-bottom: 4%;
        word-break: break-all;
        white-space: pre-wrap;
    }

    .mat-mdc-table .mat-mdc-cell:before {
        content: attr(data-label) ":";
        float: left;
        font-weight: 500;
    }

    .mat-mdc-table .mat-mdc-cell:first-child {
        margin-top: 25px;
    }

    .mat-mdc-table .mat-mdc-row:last-child {
        border-bottom: 0px;
    }
}
