version: "3.3"
services:
  consumer-api:
    container_name: consumer-api-test
    hostname: consumer-api
    build:
      context: ..
      dockerfile: ConsumerApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5000:8080"
    depends_on:
      seed-client:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_started
      azure-storage-emulator:
        condition: service_started
    configs:
      - source: Config
        target: app/appsettings.override.json

  admin-ui:
    container_name: admin-ui-test
    hostname: admin-ui
    build:
      context: ..
      dockerfile: AdminApi/src/AdminApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5173:8080"
    depends_on:
      database-migrator:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_started
    configs:
      - source: Config
        target: app/appsettings.override.json

  event-handler-service:
    container_name: event-handler-service-test
    build:
      context: ..
      dockerfile: EventHandlerService/src/EventHandlerService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      database-migrator:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_started
    configs:
      - source: Config
        target: app/appsettings.override.json

  database-migrator:
    container_name: database-migrator-test
    build:
      context: ..
      dockerfile: DatabaseMigrator/Dockerfile
    depends_on:
      seed-database:
        condition: service_completed_successfully
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    configs:
      - source: Config
        target: app/appsettings.override.json

  ### infrastructure ###

  azure-storage-emulator:
    container_name: azure-storage-emulator-test
    hostname: azurite
    image: mcr.microsoft.com/azure-storage/azurite
    command: azurite -d /data/debug.log -l /data --blobHost "0.0.0.0" --queueHost "0.0.0.0"
    ports:
      - "10000:10000"

  rabbitmq:
    container_name: bkb-rabbitmq-test
    hostname: rabbitmq
    image: rabbitmq:3.7-management-alpine
    ports:
      - "5672:5672"

  ### seeds ###

  seed-database:
    volumes:
      - ../setup-db:/app/setup-db

  seed-client:
    container_name: seed-client-test
    build:
      context: ..
      dockerfile: Modules/Devices/src/Devices.AdminCli/Dockerfile
    depends_on:
      database-migrator:
        condition: service_completed_successfully
    command: backbone client create --clientId test --clientSecret test --defaultTier Basic

networks:
  default:
    name: backbone
