version: "3.3"
services:
  consumer-api:
    container_name: consumer-api
    hostname: consumer-api
    build:
      context: ..
      dockerfile: ConsumerApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "5000:80"
    depends_on:
      database:
        condition: service_started
      rabbitmq:
        condition: service_started
      seed-database:
        condition: service_completed_successfully
      azure-storage-emulator:
        condition: service_started
    healthcheck:
      test: ["CMD", "wget", "http://localhost/health"]
      interval: 5s
      timeout: 2s
      retries: 40

  admin-ui:
    container_name: admin-ui
    hostname: admin-ui
    build:
      context: ..
      dockerfile: AdminUi/src/AdminUi/Dockerfile
    ports:
      - "5173:80"
    depends_on:
      database:
        condition: service_started
      rabbitmq:
        condition: service_started
      consumer-api:
        condition: service_healthy

  ### infrastructure ###

  azure-storage-emulator:
    container_name: azure-storage-emulator
    hostname: azurite
    image: mcr.microsoft.com/azure-storage/azurite
    command: azurite -d /data/debug.log -l /data --blobHost "0.0.0.0" --queueHost "0.0.0.0"
    ports:
      - "10000:10000"

  rabbitmq:
    container_name: bkb-rabbitmq
    hostname: rabbitmq
    image: rabbitmq:3.7-management-alpine
    ports:
      - "5672:5672"

  ### seeds ###

  seed-client:
    container_name: seed-client
    image: ghcr.io/nmshd/backbone-admin-cli:v2.0.0
    depends_on:
      consumer-api:
        condition: service_healthy

networks:
  default:
    name: backbone
