<div class="card-header">
    <h2 class="header-title">{{ editMode ? headerEdit : headerCreate }}</h2>
    <p class="header-description">
        {{ editMode ? headerDescriptionEdit : headerDescriptionCreate }}
    </p>
</div>
<div [ngClass]="{ 'disabled-container': loading }">
    <mat-card>
        <mat-card-content class="form-card">
            <div *ngIf="loading" class="loading">
                <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
            </div>
            <div class="update-form-details" *ngIf="editMode">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Client Id</span>
                        <span matListItemLine>{{ client.clientId }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Display Name</span>
                        <span matListItemLine>{{ client.displayName }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Created At</span>
                        <span matListItemLine>{{ client.createdAt | date }}</span>
                    </mat-list-item>
                    <mat-list-item class="mat-list-item-edit">
                        <span matListItemTitle>Max Identities</span>
                        <span matListItemLine>
                            <mat-form-field class="form-field-edit">
                                <input matInput [(ngModel)]="client.maxIdentities" type="number" min="0" required [disabled]="disabled" />
                            </mat-form-field>
                        </span>
                    </mat-list-item>
                    <mat-list-item class="auto-height">
                        <span matListItemTitle>Default Tier</span>
                        <span matListItemLine>
                            <mat-chip-listbox aria-label="Default Tier selection" selectable="false" [disabled]="disabled">
                                <mat-chip-option *ngFor="let t of tierList" [selected]="t.id == client.defaultTier" (click)="client.defaultTier = t.id" [color]="t.name == 'Basic' ? 'accent' : ''">
                                    {{ t.name }}
                                </mat-chip-option>
                            </mat-chip-listbox>
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="create-form-details" *ngIf="!editMode">
                <div class="create-form-details-form-fields">
                    <mat-form-field class="form-field">
                        <mat-label>Client Id</mat-label>
                        <input matInput [(ngModel)]="client.clientId" [disabled]="disabled || editMode" />
                        <mat-hint>A Client ID will be generated if this field is left blank.</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Display Name</mat-label>
                        <input matInput [(ngModel)]="client.displayName" [disabled]="disabled || editMode" />
                        <mat-hint>Client ID will be used as a Display Name if no value is provided.</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Client Secret</mat-label>
                        <input [type]="showPassword ? 'text' : 'password'" matInput [(ngModel)]="client.clientSecret" [disabled]="disabled" />
                        <button matSuffix mat-icon-button (click)="togglePasswordVisibility()" style="cursor: pointer">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button [disabled]="client.clientSecret! === ''" [cdkCopyToClipboard]="client.clientSecret!" style="cursor: pointer">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                        <mat-hint>A Client Secret will be generated if this field is left blank.</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Max Identities</mat-label>
                        <input matInput [(ngModel)]="client.maxIdentities" type="number" min="0" required [disabled]="disabled || editMode" />
                        <mat-hint>The maximum number of Identities that can be created with this Client.</mat-hint>
                        <mat-error>You must enter a positive value</mat-error>
                    </mat-form-field>
                    <div *ngIf="displayClientSecretWarning" class="client-secret-warning-container">
                        <span class="client-secret-warning">Please save the Client Secret since it will be unaccessible after exiting.</span>
                    </div>
                </div>
                <mat-list>
                    <mat-list-item class="auto-height">
                        <span matListItemTitle>Default Tier</span>
                        <span matListItemLine>
                            <mat-chip-listbox aria-label="Default Tier selection" selectable="false" [disabled]="disabled">
                                <mat-chip-option *ngFor="let t of tierList" [selected]="t.id == client.defaultTier" (click)="client.defaultTier = t.id" [color]="t.name == 'Basic' ? 'accent' : ''">
                                    {{ t.name }}
                                </mat-chip-option>
                            </mat-chip-listbox>
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion *ngIf="editMode" class="client-accordion">
        <mat-expansion-panel class="details-expansion-panel" [expanded]="true">
            <mat-expansion-panel-header class="details-expansion-panel-header">
                <mat-panel-title class="details-panel-header-title">
                    {{ headerIdentities }}
                </mat-panel-title>
                <mat-panel-description class="details-panel-header-desc">
                    {{ headerIdentitiesDescription }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-identities-overview [clientId]="clientId"></app-identities-overview>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="action-buttons">
        <button *ngIf="editMode" mat-raised-button color="primary" (click)="updateClient()" [disabled]="!canSaveClient() || disabled">Save</button>
        <button *ngIf="!editMode" mat-raised-button color="primary" (click)="createClient()" [disabled]="!canSaveClient() || disabled">Save</button>
        <button mat-raised-button routerLink="/clients">Cancel</button>
    </div>
</div>
