.action-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.action-buttons button {
    margin: 10px;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -60px;
    width: 100%;
    height: 100%;
}

.client-secret-warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: mediumseagreen;
}

.client-secret-warning {
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
}

.form-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-card {
    margin-top: 60px;
    min-height: 250px;
}

.card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: #673ab7;
    position: relative;
    z-index: 1;
    margin: 15px 15px -50px 15px;
}

.header-title {
    color: #fff;
    margin-bottom: 0px;
}

.header-description {
    color: #fff;
}