services:
  ### infrastructure ###

  azure-storage-emulator:
    container_name: azure-storage-emulator
    hostname: azurite
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0@sha256:647c63a91102a9d8e8000aab803436e1fc85fbb285e7ce830a82ee5d6661cf37
    command: azurite-blob -l /data --blobHost "0.0.0.0"
    ports:
      - "10000:10000"
    volumes:
      - azure-storage-emulator-volume:/data

  ms-sql-server:
    container_name: bkb-mssql_server
    hostname: ms-sql-server
    image: mcr.microsoft.com/mssql/server:2025-latest@sha256:54b23ca766287dab5f6f55162923325f07cdec6ccb42108f37c55c87e7688ebd
    environment:
      - MSSQL_SA_PASSWORD=Passw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express
    volumes:
      - mssql-server-volume:/var/opt/mssql
    ports:
      - 1433:1433

  postgres:
    container_name: bkb-postgres
    hostname: postgres
    image: postgres:18.1@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
    environment:
      - POSTGRES_PASSWORD=admin
    volumes:
      - postgres-volume:/var/lib/postgresql
    ports:
      - 5432:5432

  rabbitmq:
    container_name: bkb-rabbitmq
    hostname: rabbitmq
    image: rabbitmq:4.2.1-management-alpine@sha256:395e21feb54d07af2f913d317e40221855ae5848d120b585bc58ab9644a909e3
    ports:
      - "5672:5672"
      - "15672:15672" # mgmt plugin, "guest/guest"
    volumes:
      - rabbitmq-volume:/var/lib/rabbitmq # default data dir

  seq:
    image: datalust/seq:2025.2@sha256:3cfad751637b869617ff7fc296495681f5365a8c3046b36ab654a0f5a8ff04e5
    container_name: seq
    ports:
      - "8085:80"
      - "5341:5341"
    volumes:
      - seq-data:/data
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=True
    restart: unless-stopped

networks:
  default:
    name: backbone

volumes:
  rabbitmq-volume:
  mssql-server-volume:
    external: true
  postgres-volume:
    external: true
  azure-storage-emulator-volume:
    external: true
  seq-data:
