services:
  ### infrastructure ###

  azure-storage-emulator:
    container_name: azure-storage-emulator
    hostname: azurite
    image: mcr.microsoft.com/azure-storage/azurite
    command: azurite-blob -l /data --blobHost "0.0.0.0"
    ports:
      - "10000:10000"
    volumes:
      - azure-storage-emulator-volume:/data
  
  #  ms-sql-server:
  #    container_name: bkb-mssql_server
  #    hostname: ms-sql-server
  #    image: mcr.microsoft.com/mssql/server:2022-latest
  #    environment:
  #      - MSSQL_SA_PASSWORD=Passw0rd
  #      - ACCEPT_EULA=Y
  #      - MSSQL_PID=Express
  #    volumes:
  #      - mssql-server-volume:/var/opt/mssql
  #    ports:
  #      - 1433:1433

  postgres:
    container_name: bkb-postgres
    hostname: postgres
    image: postgres
    environment:
      - POSTGRES_PASSWORD=admin
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    ports:
      - 5432:5432

  rabbitmq:
    container_name: bkb-rabbitmq
    hostname: rabbitmq
    image: rabbitmq:4.1-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672" # mgmt plugin, "guest/guest"
    volumes:
      - rabbitmq-volume:/var/lib/rabbitmq # default data dir

  seq:
    image: datalust/seq:latest
    container_name: seq
    ports:
      - "8085:80"
      - "5341:5341"
    volumes:
      - seq-data:/data
    environment:
      - ACCEPT_EULA=Y
    restart: unless-stopped

  #elasticsearch:
  #  image: elasticsearch:${ELK_VERSION}
  #  container_name: elasticsearch
  #  restart: always
  #  volumes:
  #    - elastic-data:/usr/share/elasticsearch/data/
  #  environment:
  #    - xpack.watcher.enabled=false
  #    - xpack.security.enabled=false
  #    - ES_JAVA_OPTS=-Xms512m -Xmx512m
  #    - discovery.type=single-node

  #logstash:
  #  image: logstash:${ELK_VERSION}
  #  container_name: logstash
  #  restart: always
  #  volumes:
  #    - ./logstash:/etc/logstash/conf.d
  #  command: logstash -f /etc/logstash/conf.d/logstash.conf
  #  depends_on:
  #    - elasticsearch
  #  environment:
  #    - LS_JAVA_OPTS=-Xmx256m -Xms256m
  #    - ES_LOGSTASH_PORT=${ES_LOGSTASH_PORT}
  #    - ES_ELASTICSEARCH_PORT=${ES_ELASTICSEARCH_PORT}

  #kibana:
  #  image: kibana:${ELK_VERSION}
  #  container_name: kibana
  #  restart: always
  #  ports:
  #    - ${ES_KIBANA_PORT}:5601
  #  environment:
  #    - ELASTICSEARCH_URL=http://elasticsearch:${ES_ELASTICSEARCH_PORT}
  #  depends_on:
  #    - elasticsearch

networks:
  default:
    name: backbone

volumes:
  rabbitmq-volume:
  mssql-server-volume:
    external: true
  postgres-volume:
    external: true
  azure-storage-emulator-volume:
    external: true
  elastic-data:
  seq-data:
