.dashboard-container {
    max-width: 1350px !important;
    margin: auto;
}

.dashboard-tile {
    color: #111111;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.dashboard-tile:hover {
    cursor: pointer;
}

.more-button {
    margin-top: auto;
    margin-bottom: 30px;
}

.panel-title {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 20px 0 0;
}

.panel-description {
    color: #808080;
    font-style: italic;
    margin: 20px 0 0;
    word-wrap: break-word;
    position: relative;
    max-width: 60%;
}

.panel-icon {
    font-size: 100px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    color: #17428d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 40px;
}
