name: admin_ui
description: "The Enmeshed Backbone Admin UI."
publish_to: "none"
version: 0.1.0

environment:
  sdk: "^3.9.0"
  flutter: ">=3.35.0"

resolution: workspace

dependencies:
  admin_api_sdk: ^1.0.0
  admin_api_types: ^1.0.0
  collection: any
  data_table_2: ^2.5.15
  dropdown_button2: ^2.3.9
  enmeshed_ui_kit:
    git:
      ref: main
      url: https://github.com/nmshd/app
      path: packages/enmeshed_ui_kit
  flex_seed_scheme: ^3.4.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_svg: ^2.0.10
  flutter_web_plugins:
    sdk: flutter
  get_it: ^8.0.0
  go_router: ^16.0.0
  intl: any
  logger: ^2.4.0
  shared_preferences: ^2.3.2
  sn_progress_dialog: ^1.2.0
  watch_it: ^1.5.0
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      path: plugins/window_size

dev_dependencies:
  flutter_launcher_icons: ^0.14.0
  flutter_test:
    sdk: flutter
  translations_cleaner: ^0.0.5
  very_good_analysis: ^10.0.0

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/logo.svg

# dart run flutter_launcher_icons
flutter_launcher_icons:
  image_path: "assets/icon.png"
  windows:
    generate: true
    icon_size: 256
  macos:
    generate: true
    image_path: "assets/mac-icon.png"
  web:
    generate: true
