<div class="logo-container" [ngClass]="{ 'disabled-container': loading }">
    <div class="logo-layout">
        <img src="../../../../assets/logo.svg" style="width: 30px" />
    </div>
</div>
<mat-card [ngClass]="{ 'disabled-container': loading }">
    <mat-card-content class="card-layout">
        <div *ngIf="loading" class="loading">
            <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
        </div>
        <div class="form-details">
            <div class="form-field">
                <h1 class="description">Sign In to Enmeshed</h1>
            </div>
            <mat-form-field class="form-field">
                <mat-label>Api Key</mat-label>
                <input matInput [(ngModel)]="apiKey" />
            </mat-form-field>
            <div class="form-field">
                <button class="login-button" mat-raised-button color="primary" (click)="login()" [ngClass]="{ 'login-button-disabled': apiKey == '' }">Login</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
