<div class="col-12 md:px-5">
    <div class="p-component">
        <div class="p-3 text-700">
            <div class="text-2xl font-medium">{{ header }}</div>
        </div>
    </div>
    <div class="col-12 flex flex-wrap">
        <div
            *ngFor="let dashboardPanel of dashboardOverviewPanels"
            class="col-12 lg:col-3 md:col-4 sm:col-6 zoom-animation"
        >
            <div
                class="cursor-pointer select-none"
                [routerLink]="dashboardPanel.routerLink"
            >
                <p-card
                    styleClass="text-white-animation 
          background-color-{{ dashboardPanel.classLabel }}"
                >
                    <ng-template pTemplate="header">
                        <div class="p-2">
                            <span
                                class="inline-flex border-circle p-3 
                background-color-{{ dashboardPanel.classLabel }}-highlight "
                            >
                                <i
                                    class="pi {{ dashboardPanel.icon }} text-xl"
                                ></i>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="text-2xl font-medium">
                            {{ dashboardPanel.header }}
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>
