<h2 mat-dialog-title>{{ header }}</h2>
<mat-dialog-content>
    <div class="form-details" *ngIf="!loading">
        <mat-form-field>
            <mat-label>Metric</mat-label>
            <mat-select [value]="metric" required>
                <mat-option *ngFor="let metric of metrics" [value]="metric">
                    {{ metric.displayName }}
                </mat-option>
            </mat-select>
            <mat-error>You must choose a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Max</mat-label>
            <input [value]="max" matInput required />
            <mat-error>You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Period</mat-label>
            <mat-select [value]="period" required>
                <mat-option *ngFor="let period of periods" [value]="period">
                    {{ period }}
                </mat-option>
            </mat-select>
            <mat-error>You must choose a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input
                    matStartDate
                    formControlName="from"
                    placeholder="Valid from"
                />
                <input matEndDate formControlName="to" placeholder="Valid to" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
    <div *ngIf="loading" class="loading">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button
        mat-flat-button
        color="primary"
        (click)="assignQuota()"
        [disabled]="!isValid()"
    >
        Confirm
    </button>
</mat-dialog-actions>
