.action-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.action-buttons button {
    margin: 5px;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -60px;
    width: 90%;
    height: 90%;
}

.client-secret-warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f39e5f;
}

.client-secret-warning {
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
}

.form-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    width: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-card {
    margin-top: 60px;
    min-height: 250px;
}
