<h2 mat-dialog-title>{{ header }}</h2>
<mat-dialog-content [ngClass]="{ 'disabled-container': loading }">
    <div *ngIf="loading" class="loading">
        <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
    <div class="form-details">
        <mat-form-field class="form-field">
            <mat-label>Client Secret</mat-label>
            <input [type]="showSecret ? 'text' : 'password'" matInput [(ngModel)]="clientSecret" [disabled]="disabled" />
            <button matSuffix mat-icon-button (click)="togglePasswordVisibility()" style="cursor: pointer">
                <mat-icon>visibility</mat-icon>
            </button>
            <button matSuffix mat-icon-button [disabled]="clientSecret! === ''" [cdkCopyToClipboard]="clientSecret!" style="cursor: pointer">
                <mat-icon>file_copy</mat-icon>
            </button>
            <mat-hint>A Client Secret will be generated if this field is left blank.</mat-hint>
        </mat-form-field>
        <div *ngIf="displayClientSecretWarning" class="client-secret-warning-container">
            <span class="client-secret-warning">Please save the Client Secret since it will be inaccessible after exiting.</span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" [ngClass]="{ 'disabled-container': loading }">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="changeSecret()" [disabled]="disabled">Save</button>
</mat-dialog-actions>
