<h2 mat-dialog-title>{{ header }}</h2>
<mat-dialog-content>
    <div class="form-details" *ngIf="!loading">
        <mat-form-field>
            <mat-label>Metric</mat-label>
            <mat-select [(ngModel)]="metric" required>
                <mat-option *ngFor="let metric of metrics" [value]="metric">
                    {{ metric.displayName }}
                </mat-option>
            </mat-select>
            <mat-error>You must choose a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Max</mat-label>
            <input [(ngModel)]="max" matInput required type="number" min="0" />
            <mat-error>You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Period</mat-label>
            <mat-select [(ngModel)]="period" required>
                <mat-option *ngFor="let period of periods" [value]="period">
                    {{ period }}
                </mat-option>
            </mat-select>
            <mat-error>You must choose a value</mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="loading" class="loading">
        <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
</mat-dialog-content>
<div *ngIf="data.errorMessage && !loading" class="quota-error-container">
    <mat-error class="quota-error-message">{{ data.errorMessage }}</mat-error>
</div>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="assignQuota()" [disabled]="!isValid()">Confirm</button>
</mat-dialog-actions>
