.layout-wrapper {
    min-height: 100vh;
}

.layout-main-container {
    min-height: calc(100vh - 64px);
}

.layout-content {
    padding: 1rem;
    min-width: 1350px;
    margin: auto;
    width: fit-content;
}

.login-layout {
    display: flex;
    justify-content: center;
    background: #17428d;
}
