.layout-wrapper {
    min-height: 100vh;
}

.layout-main-container {
    min-height: calc(100vh - 64px);
}

.layout-content {
    padding: 1rem;
    margin: auto;
    width: 100%;
    max-width: 2150px;
    box-sizing: border-box;
}

.login-layout {
    display: flex;
    justify-content: center;
    background: #17428d;
}
