<div class="card-header">
    <h2 class="header-title">{{ headerCreate }}</h2>
    <p class="header-description">
        {{ headerDescriptionCreate }}
    </p>
</div>
<div *ngIf="displayClientSecretWarning" class="client-secret-warning-container">
    <span class="client-secret-warning">Please save the Client Secret since it will be unaccessible after exiting.</span>
</div>
<mat-card>
    <mat-card-content class="form-card">
        <div class="create-form-details">
            <div class="create-form-details-form-fields">
                <mat-form-field class="form-field">
                    <mat-label>Client Id</mat-label>
                    <input matInput [(ngModel)]="client.clientId" [disabled]="disabled" />
                    <mat-hint>A Client ID will be generated if this field is left blank.</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Display Name</mat-label>
                    <input matInput [(ngModel)]="client.displayName" [disabled]="disabled" />
                    <mat-hint>Client ID will be used as a Display Name if no value is provided.</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Client Secret</mat-label>
                    <input [type]="showPassword ? 'text' : 'password'" matInput [(ngModel)]="client.clientSecret" [disabled]="disabled" />
                    <button matSuffix mat-icon-button (click)="togglePasswordVisibility()" style="cursor: pointer">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button matSuffix mat-icon-button [disabled]="client.clientSecret! === ''" [cdkCopyToClipboard]="client.clientSecret!" style="cursor: pointer">
                        <mat-icon>file_copy</mat-icon>
                    </button>
                    <mat-hint>A Client Secret will be generated if this field is left blank.</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Max Identities</mat-label>
                    <input matInput [(ngModel)]="client.maxIdentities" type="number" min="0" [disabled]="disabled" />
                    <mat-hint>
                        <span>The maximum number of Identities that can be created with this Client.</span>
                        <br />
                        <span> No Identity limit will be assigned if this field is left blank. </span>
                    </mat-hint>
                    <mat-error>You must enter a positive value</mat-error>
                </mat-form-field>
            </div>
            <mat-list>
                <mat-list-item class="auto-height">
                    <span matListItemTitle>Default Tier</span>
                    <span matListItemLine>
                        <mat-chip-listbox aria-label="Default Tier selection" selectable="false" [disabled]="disabled">
                            <mat-chip-option *ngFor="let t of tierList" [selected]="t.id == client.defaultTier" (click)="client.defaultTier = t.id" [color]="t.name == 'Basic' ? 'accent' : ''">
                                {{ t.name }}
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </span>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
    <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="createClient()" [disabled]="!canSaveClient() || disabled">Save</button>
        <button mat-raised-button (click)="onDialogCancel()">Cancel</button>
    </div>
</mat-card>
