.action-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.action-buttons button {
    margin: 5px;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    margin-top: -60px;
    width: 100%;
    height: 100%;
}

.client-secret-warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    background-color: #f39e5f;
}

.client-secret-warning {
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
}

.update-form-details,
.create-form-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    width: 100%;
}

.create-form-details-form-fields {
    max-width: 500px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-field-edit {
    margin-top: 10px;
}

.mat-list-item-edit {
    min-height: 140px;
}

.form-card {
    margin-top: 60px;
    min-height: 250px;
}

.card-header {
    border-radius: 3px;
    padding: 15px;
    background-color: #17428d;
    position: relative;
    z-index: 1;
    margin: 15px 15px -50px 15px;
}

.header-title {
    color: #fff;
    margin-bottom: 0px;
}

.header-description {
    color: #fff;
}

.client-accordion {
    margin: 0px 0px 0px 5px !important;
}

.details-expansion-panel-header {
    background: #17428d !important;
}

.details-expansion-panel-header:hover {
    background: #11337a !important;
}
.details-expansion-panel-header.mat-expansion-panel-header.mat-expanded {
    border-radius: 4px 4px 0px 0px;
}

.details-panel-header-title {
    color: white !important;
}

.details-panel-header-desc {
    color: rgba(255, 255, 255, 0.54) !important;
}

:host ::ng-deep .details-expansion-panel-header > .mat-expansion-indicator::after {
    color: white !important;
}

.auto-height {
    height: auto;
    margin-top: 20px;
}
