@use "@angular/material" as mat;

@include mat.core();

$primary-palette: (
    50: #e3e8f1,
    100: #b9c6dd,
    200: #8ba1c6,
    300: #5d7baf,
    400: #3a5e9e,
    500: #17428d,
    600: #143c85,
    700: #11337a,
    800: #0d2b70,
    900: #071d5d,
    A100: #90a6ff,
    A200: #5d7dff,
    A400: #2a54ff,
    A700: #1040ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

$accent-palette: (
    50: #e37b27,
    100: #e37b27,
    200: #e37b27,
    300: #e37b27,
    400: #e37b27,
    500: #e37b27,
    600: #e37b27,
    700: #e37b27,
    800: #e37b27,
    900: #e37b27,
    A100: #e37b27,
    A200: #e37b27,
    A400: #e37b27,
    A700: #e37b27,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($accent-palette, 500);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent
        ),
        typography: mat.define-typography-config(),
        density: 0
    )
);

@include mat.all-component-themes($my-theme);
