name: Publish

on:
  push:
    tags: ["*"]

permissions:
  contents: read
  packages: write

jobs:
  publish-admin-cli:
    name: Publish Admin CLI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/acli/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-admin-ui:
    name: Publish Admin UI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/aui/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-consumer-api:
    name: Publish Consumer API Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/capi/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-event-handler:
    name: Publish Event Handler Service Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/eh/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-housekeeper:
    name: Publish Housekeeper Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/hk/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-database-migrator:
    name: Publish Database Migrator Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/dbm/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-identity-deletion-jobs:
    name: Publish Identity Deletion Jobs Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/idj/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-sse-server:
    name: Publish SSE Server Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to Docker Hub for accessing the cloud builder
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.CLOUD_BUILDER_USERNAME }}
          password: ${{ secrets.CLOUD_BUILDER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: ${{ secrets.CLOUD_BUILDER_ENDPOINT }}
      - name: Build and Push Container Image
        run: ./.ci/sses/buildContainerImage.js
        env:
          TAG: ${{ github.ref_name }}
          PUSH: 1

  publish-helm-chart:
    name: Publish Helm Chart
    runs-on: ubuntu-latest
    needs:
      - publish-admin-cli
      - publish-admin-ui
      - publish-consumer-api
      - publish-event-handler
      - publish-housekeeper
      - publish-database-migrator
      - publish-identity-deletion-jobs
      - publish-sse-server
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Install helm
        uses: azure/setup-helm@v4
      - run: echo "$PASSWORD" | helm registry login -u $USER --password-stdin ghcr.io
        env:
          USER: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Helm Chart
        run: ./.ci/helm/buildChart.js
        env:
          VERSION: ${{ github.ref_name }}
      - name: Push Helm Chart
        run: ./.ci/helm/pushChart.js
        env:
          VERSION: ${{ github.ref_name }}
