name: Artifact Repo Publish

on:
  push:
    branches: [main]
    paths: [helm/artifacthub-repo.yml]

jobs:
  upload-artifact-repo-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install oras
        run: |
          curl -L https://github.com/oras-project/oras/releases/download/v1.1.0/oras_1.1.0_linux_amd64.tar.gz -o oras.tar.gz
          tar -xzf oras.tar.gz oras
          sudo mv oras /usr/local/bin
          rm oras.tar.gz
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: oras push
        working-directory: ./helm
        run: |
          oras push \
            ghcr.io/nmshd/backbone-helm-chart:artifacthub.io \
            --config /dev/null:application/vnd.cncf.artifacthub.config.v1+yaml \
            artifacthub-repo.yml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml
