name: Test

on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "**"

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Check formatting
        run: ./.ci/checkFormatting.ts

  test:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Run tests
        run: ./.ci/test.ts

  integration-test-mssql:
    name: Run Integration Tests (on MS SQL)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Run integration tests
        run: ./.ci/integrationTest.mssql.ts
      - name: Save Docker Logs
        if: failure()
        run: docker compose -f ./.ci/docker-compose.test.yml -f ./.ci/docker-compose.test.mssql.yml logs > docker-log.txt
      - name: Archive logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: integration-test-mssql-docker-logs
          path: |
            docker-log.txt

  integration-test-postgresql:
    name: Run Integration Tests (on Postgres)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Run integration tests
        run: ./.ci/integrationTest.pgsql.ts
      - name: Save Docker Logs
        if: failure()
        run: docker compose -f ./.ci/docker-compose.test.yml -f ./.ci/docker-compose.test.postgres.yml logs > docker-log.txt
      - name: Archive logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: integration-test-postgres-docker-logs
          path: |
            docker-log.txt

  cns-transport-test-mssql:
    name: Run cns-transport Tests (on MS SQL)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout backbone repository
        uses: actions/checkout@v4
        with:
          path: backbone
      - name: Checkout cns-transport repository
        uses: actions/checkout@v4
        with:
          repository: nmshd/cns-transport
          path: cns-transport
      - name: Run Consumer API
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.mssql.yml up -d
      - name: Install cns-transport dependencies
        working-directory: ./cns-transport
        run: npm install
      - name: Run cns-transport Tests
        working-directory: ./cns-transport
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
        run: npm run test:local:node:lokijs
      - name: Save Docker Logs
        if: failure()
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.mssql.yml logs > docker-log.txt
      - name: Archive logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: cns-transport-test-mssql-docker-logs
          path: |
            docker-log.txt
      - name: Stop Consumer API
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.mssql.yml down

  cns-transport-test-postgresql:
    name: Run cns-transport Tests (on Postgres)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout backbone repository
        uses: actions/checkout@v3
        with:
          path: backbone
      - name: Checkout cns-transport repository
        uses: actions/checkout@v3
        with:
          repository: nmshd/cns-transport
          path: cns-transport
      - name: Run Consumer API
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.postgres.yml up -d
      - name: Install cns-transport dependencies
        working-directory: ./cns-transport
        run: npm install
      - name: Run cns-transport Tests
        working-directory: ./cns-transport
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
        run: npm run test:local:node:lokijs
      - name: Save Docker Logs
        if: failure()
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.postgres.yml logs > docker-log.txt
      - name: Archive logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: cns-transport-test-postgresql-docker-logs
          path: |
            docker-log.txt
      - name: Stop Consumer API
        run: docker compose -f ./backbone/.ci/docker-compose.test.yml -f ./backbone/.ci/docker-compose.test.postgres.yml down

  build-helm-chart:
    name: Build Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build Helm Chart
        run: ./.ci/helm/buildChart.ts
        env:
          VERSION: 0.0.0

  build-capi-container-image:
    name: Build Consumer API Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/capi/buildContainerImage.ts
        env:
          TAG: test

  build-aui-container-image:
    name: Build Admin UI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/aui/buildContainerImage.ts
        env:
          TAG: test

  build-acli-container-image:
    name: Build Admin CLI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/acli/buildContainerImage.ts
        env:
          TAG: test

  build-fsc-container-image:
    name: Build Files Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Files

  build-msc-container-image:
    name: Build Messages Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Messages

  build-rtsc-container-image:
    name: Build Relationship Templates Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Relationships
          PROJECT_SUFFIX: RelationshipTemplate

  build-rcsc-container-image:
    name: Build Relationship Changes Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Relationships
          PROJECT_SUFFIX: RelationshipChange

  build-ssc-container-image:
    name: Build Synchronization Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Synchronization

  build-tsc-container-image:
    name: Build Tokens Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Tokens
