name: Test

on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Run tests
        run: ./.ci/test.ts

  build-helm-chart:
    name: Build Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build Helm Chart
        run: ./.ci/helm/buildChart.ts
        env:
          VERSION: 0.0.0

  build-capi-container-image:
    name: Build Consumer API Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/capi/buildContainerImage.ts
        env:
          TAG: test

  build-aui-container-image:
    name: Build Admin UI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/aui/buildContainerImage.ts
        env:
          TAG: test

  build-acli-container-image:
    name: Build Admin CLI Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/acli/buildContainerImage.ts
        env:
          TAG: test

  build-fsc-container-image:
    name: Build Files Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Files

  build-msc-container-image:
    name: Build Messages Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Messages

  build-rtsc-container-image:
    name: Build Relationship Templates Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Relationships
          PROJECT_SUFFIX: RelationshipTemplate

  build-rcsc-container-image:
    name: Build Relationship Changes Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Relationships
          PROJECT_SUFFIX: RelationshipChange

  build-ssc-container-image:
    name: Build Synchronization Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Synchronization

  build-tsc-container-image:
    name: Build Tokens Sanity Check Container Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install script dependencies
        run: npm install --prefix ./.ci
      - name: Build image
        run: ./.ci/sc/buildContainerImage.ts
        env:
          TAG: test
          MODULE: Tokens
  cns-transport-test:
    name: Run CNS-Transport Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout backbone repository
        uses: actions/checkout@v3
        with:
          path: backbone
      - name: Checkout cns-transport repository
        uses: actions/checkout@v3
        with:
          repository: nmshd/cns-transport
          path: cns-transport
      - name: Run Consumer API
        run: docker compose -f ./backbone/docker-compose/docker-compose.test.yml up -d
      - name: Install cns-transport dependencies
        working-directory: ./cns-transport
        run: npm install
      - name: Wait for Consumer API to become available
        run: curl --connect-timeout 5 --retry 50 --retry-delay 5 --retry-connrefused 'http://localhost:5000/health'
      - name: Run cns-transport Tests
        working-directory: ./cns-transport
        env:
          NMSHD_TEST_BASEURL: http://localhost:5000
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test
        run: npm run test:local:node:lokijs
      - name: Stop Consumer API
        run: docker compose -f ./backbone/docker-compose/docker-compose.test.yml down
  integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout backbone repository
        uses: actions/checkout@v3
        with:
          path: backbone
      - name: Run Consumer API
        run: docker compose -f ./backbone/docker-compose/docker-compose.test.yml up -d
      - name: Wait for Consumer API to become available
        run: curl --connect-timeout 5 --retry 50 --retry-delay 5 --retry-connrefused 'http://localhost:5000/health'
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Run tests
        run: ./.ci/test.ts
      - name: Stop Consumer API
        run: docker compose -f ./backbone/docker-compose/docker-compose.test.yml down
