<div class="card-header">
    <h2 class="header-title">{{ headerEdit }}</h2>
    <p class="header-description">
        {{ headerDescriptionEdit }}
    </p>
</div>
<div [ngClass]="{ 'disabled-container': loading }">
    <mat-card>
        <mat-card-content class="form-card">
            <div *ngIf="loading" class="loading">
                <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
            </div>
            <div class="update-form-details" *ngIf="editMode">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Client Id</span>
                        <span matListItemLine>{{ client.clientId }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Display Name</span>
                        <span matListItemLine>{{ client.displayName }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Created At</span>
                        <span matListItemLine>{{ client.createdAt | date }}</span>
                    </mat-list-item>
                    <mat-list-item class="mat-list-item-edit">
                        <span matListItemTitle>Max Identities</span>
                        <span matListItemLine>
                            <mat-form-field class="form-field form-field-edit">
                                <input matInput [(ngModel)]="client.maxIdentities" type="number" min="0" placeholder="No limit" [disabled]="disabled" />
                                <button matSuffix mat-icon-button aria-label="Clear" (click)="client.maxIdentities = undefined">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-hint>
                                    <span>The maximum number of Identities that can be created with this Client.</span>
                                    <br />
                                    <span> No Identity limit will be assigned if this field is left blank. </span>
                                </mat-hint>
                                <mat-error>You must enter a positive value</mat-error>
                            </mat-form-field>
                        </span>
                    </mat-list-item>
                    <mat-list-item class="auto-height">
                        <span matListItemTitle>Default Tier</span>
                        <span matListItemLine>
                            <mat-chip-listbox aria-label="Default Tier selection" selectable="false" [disabled]="disabled">
                                <mat-chip-option *ngFor="let t of tierList" [selected]="t.id == client.defaultTier" (click)="client.defaultTier = t.id" [color]="t.name == 'Basic' ? 'accent' : ''">
                                    {{ t.name }}
                                </mat-chip-option>
                            </mat-chip-listbox>
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion *ngIf="editMode" class="client-accordion">
        <mat-expansion-panel class="details-expansion-panel" [expanded]="true">
            <mat-expansion-panel-header class="details-expansion-panel-header">
                <mat-panel-title class="details-panel-header-title">
                    {{ headerIdentities }}
                </mat-panel-title>
                <mat-panel-description class="details-panel-header-desc">
                    {{ headerIdentitiesDescription }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-identities-overview [clientId]="clientId"></app-identities-overview>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="action-buttons">
        <button *ngIf="editMode" mat-raised-button color="primary" (click)="updateClient()" [disabled]="!canSaveClient() || disabled">Save</button>
        <button mat-raised-button routerLink="/clients">Cancel</button>
    </div>
</div>
