<div class="col-12 md:px-5">
  <div class="p-component">
    <div class="p-3 text-700">
      <div class="text-2xl font-medium">{{ header }}</div>
    </div>
  </div>
  <div class="col-12">
    <p-card>
      <p-table
        #identitiesTable
        [value]="identities"
        [lazy]="true"
        (onLazyLoad)="loadIdentities($event)"
        dataKey="id"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} identities"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [rowHover]="true"
        responsiveLayout="stack"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap">
            <div class="col-12 sm:col-6 px-0 pt-0">
              <button
                pButton
                label="Clear"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear()"
              ></button>
            </div>
            <div class="col-12 sm:col-6 sm:text-right px-0 pt-0">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  placeholder="Search..."
                  (input)="applyFilter($event, 'contains')"
                />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="col-3" pSortableColumn="address">
              Address <p-sortIcon field="address"></p-sortIcon>
            </th>
            <th class="col-3" pSortableColumn="clientId">
              Client Id <p-sortIcon field="clientId"></p-sortIcon>
            </th>
            <th class="col-3" pSortableColumn="publicKey">
              Public Key <p-sortIcon field="publicKey"></p-sortIcon>
            </th>
            <th class="col-3" pSortableColumn="createdAt">
              Created At <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-identity>
          <tr class="cursor-pointer">
            <td>
              <span class="p-column-title font-semibold">Address</span>
              {{ identity.address }}
            </td>
            <td>
              <span class="p-column-title font-semibold">Client Id</span>
              {{ identity.clientId }}
            </td>
            <td>
              <span class="p-column-title font-semibold">Public Key</span>
              {{ identity.publicKey }}
            </td>
            <td>
              <span class="p-column-title font-semibold">Created At</span>
              {{ identity.createdAt.toLocaleDateString() }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No identities found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<p-toast
  position="top-center"
  [breakpoints]="{ '920px': { width: '100%', 'word-break': 'break-word' } }"
  [preventOpenDuplicates]="true"
  styleClass="w-6"
></p-toast>
